[submodule "3rdparty/libarchive"]
	path = 3rdparty/libarchive
	url = https://github.com/libarchive/libarchive.git
	branch = release
[submodule "3rdparty/sdl"]
	path = 3rdparty/sdl
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
